<p id="notice"><%= notice %></p>

<p>
  <b>Impdate:</b>
  <%= @impdate.impdate %>
</p>

<p>
  <b>Explanation:</b>
  <%= @impdate.explanation %>
</p>


<%= link_to 'Edit', edit_impdate_path(@impdate) %> |
<%= link_to 'Back', impdates_path %>
